<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="tcaserver"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.koen.tca.server"
            name="tcaserver">
         <property
               name="appName"
               value="tcaserver">
         </property>
      </product>
   </extension>

</plugin>
